:root {
    --font-sans-serif: Raleway, sans-serif;
    --font-sans-serif-2: Open Sans, sans-serif;
    --font-serif: serif;
    --color-white: #ffffff; 
    --color-black: #000000;
    --color-soft-black: #222222;
    --color-dark-gray: #777777;
    --color-medium-gray: #999999;
    --color-light-gray: #cdcdcd;
    --color-lighest-gray: #E8E9EC;
    --color-yellow: #ffbb00;
    --color-azure: #315A9D;
    --color-sky-blue: #25AFF4;
    --color-wedgewood: #507FA3;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    font-family: "Raleway", sans-serif;
    max-width: 1300px;
    margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

/* Footer */

img {
  max-width: 100%;
  display: block;
}
.component img {
  max-width: initial;
  margin-top: 2px;
}

.component__image, .component__code {
  /* border: 1px solid #ccc; */
  overflow-x: auto;
}

.component__code {
  margin-top: 10px;
}

/* Typography*/

.section__date {
  font-weight: 700; 
  padding-left: 10px;
  color: #777777;
}

.section__header {
  background-color: #999999;
  color: #ffffff;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 175%;
  display: inline-block;
}

.news__body {
  font-family: Open Sans, sans-serif;

}

/* Buttons/Special Items */

.fa-magnifying-glass {
  background-color: #000000;
  font-size: 120%;
  padding: 10px;

}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  border-radius: 5px;
  font-size: 100%;
  text-align: center;
}

.fa-facebook-f {
  background-color: #315A9D;
  padding: 10px;
  padding-right: 12px;
}

.fa-twitter {
  background-color: #25AFF4;
  padding: 10px;
}

.fa-instagram {
  background-color: #507FA3;
  padding: 10px; 
}

.button__details,
.button__subscribe {
  font-family: Open Sans, sans-serif; 
  background-color: #ffbb00;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  display: inline-block;
  
}
.button__details {
  font-size: 70%;
  padding: 8px 12px;
}

.fa-arrow-right {
  padding-left: 10px;
}
.button__subscribe {
  padding: 15px 20px
}
.fa-paper-plane {
  padding-left: 15px;
}

/* Header */

.main-nav {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}
.nav__item  {
  color: #999999;
  background-color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 10px;
}

.nav-item a {
  
}

/* Email Section */

.info {
  background-color: #000000;
  text-align: center;
  display: inline-block;
}

.info__title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 200%;
  margin-bottom: 0;
}

.info__tagline {
  color: #E8E9EC;
  font-family: Open Sans, sans-serif;
  font-size: 90%;
}
/* Footer */

.footer {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px; 
  max-width: 700px;
}

.footer__title {
  color:#999999;
  font-size: 100%;
  margin-left: 35px;
  margin-bottom: 0;
}

.footer__list {
  font-family: Open Sans, sans-serif;
  list-style: none;
  line-height: 1.5;
  font-size: 80%;
}

.footer__list a {
  text-decoration: none;
  color:#999999;
}
.footer__list a:hover {
  color:#ffbb00;
  text-decoration: underline;
}

/* Catalog */

.catalog__button {
  background-color: #777777;
  display: inline-block;
  padding: 25px;
}

.catalog__header {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 175%;
  font-weight: 900;
}

.catalog__button--long {
  background-color: #777777;
  display: inline-block;
  padding: 25px;
  display: flex;
} 

.fa-brands, .fa-solid {
  color: #ffffff;
}

.fa-hotjar, 
.fa-star, 
.fa-book, 
.fa-image-portrait,
.fa-id-card,
.fa-calendar-day,
.fa-arrow-down-a-z,
#catalog-glass {
  background-color: #ffbb00;
  padding: 10px;
}

.catalog__title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 80%;
  text-align: center;
}