<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sanswght@400;600&family=Raleway:wght@700;900&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <script src="https://kit.fontawesome.com/b77782cda6.js" crossorigin="anonymous"></script>
        <title>Humanoid | Components</title>
    </head>

    <body>
    <h1>Humanoids Case Study</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
        <h3 class="component__name">Headers &#38; Body</h3>
        <div class="component__image">
            <img srcset="img/section__header.png 2x"
                src="img/section__header.png"
                alt="new header">
                <img srcset="img/section__date.png 2x"
                src="img/section__date.png"
                alt="section date">
                <img srcset="img/news__body.png 2x"
                src="img/news__body.png"
                alt="news__body">
            </div>
        <div class="component__code">
            <h2 class="section__header">New &#38; Upcoming Releases</h2>
            <h3 class="section__date">Feb 15, 2022</h3>
            <p class="news__body">Hide your kids, hide your wives...because SWINE is out now!</p>
        </div>
        </article>

        <h2>Buttons and Special Items</h2>

        <article class="component">
            <h3 class="component__name">Icon Buttons</h3>
            <div class="component__image">
                <img srcset="img/page-header__nav--search.png 2x"
                    src="img/page-header__nav--search.png"
                    alt="search icon">
                <img srcset="img/page-header__links--buttons.png 2x"
                    src="img/page-header__links--buttons.png"
                    alt="outside links">
                <div class="component__code">
                    <a href="#!"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>
                <div class="component__code">
                    <a href="#!"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                </div>

                <h3 class="component__name">Word and Icon Buttons</h3>
                <img srcset="img/news__button.png 2x"
                    src="img/news__button.png"
                    alt="details button">
                <img srcset="img/subscribe__button.png 2x"
                    src="img/subscribe__button.png"
                    alt="subscribe button">
                        </div>
            <div class="component__code">
                <p class="button__details"><a href="#!">Details<i class="fa-solid fa-arrow-right"></i></a></p>
                </div>
                <div class="component__code">
                <p class="button__subscribe"><a href="#!">Subscribe<i class="fa-solid fa-paper-plane"></i></a></p>
            </div>
            </article>

        <h2>Sections</h2>

        <article class="component">
            <h3 class="component__name">Header</h3>
            <div class="component__image">
                <img srcset="img/page-header__nav.png 2x"
                    src="img/page-header__nav.png"
                    alt="main nav">
                </div>
                <div class="component__image">
                    <img srcset="img/page-header.png 2x"
                        src="img/page-header.png"
                        alt="header">
                    </div>
            <div class="component__code">
                <div class="container__black">
                <nav>
                    <a href="#!"><img class="image__header" 
                        scr="https://www.humanoids.com/images/design_humanoidscom/y-logo-full.png"></a>
                    <ul class="main-nav">
                        <li class="nav__item"><a href="#!">Catalog |</a></li>
                        <li class="nav__item"><a href="#!">News |</a></li>
                        <li class="nav__item"><a href="#!">Who We Are |</a></li>
                        <li class="nav__item"><a href="#!"><i class="fa-solid fa-magnifying-glass" id="header__glass"></i></a></li>
                        </ul>
                    </nav>
                    <div class="links__flex">
                    <a href="#!"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                    <p class="button__subscribe" id="button__white"><a href="#!">Subscribe<i class="fa-solid fa-paper-plane" id="icon__black"></i></a></p>
                    </div>
                        
                </div>
            </div>
            </article>
        
            <article class="component">
                <h3 class="component__name">New and Upcoming Releases</h3>
                <div class="component__image">

                    <img srcset="img/section__new.png 2x"
                        src="img/section__new.png"
                        alt="new and upcoming section">
                    </div>
                    <div class="component__code">
                        <div class="new__flex">
                    <h2 class="section__header">New and Upcoming Releases
                        <a class="side-button" href="!#">More <i class="fa-solid fa-play"></i></a>
                    </h2>
                    </div>
                        <div class="new__grid">
                        <div class="new__flex">
                        <h3 class="new__title">Feb 15, 2022</h3>
                        <img class="image-gallery"
                        src="https://cdn2.humanoids.com/assets/CatalogueArticle/1170/CHRONOPHAGE_RoughCover_17605_R600.jpg"
                        alt="Chronophage Cover">
                    </div>
                    <div class="new__flex">
                        <h3 class="new__title">Feb 22, 2022</h3>
                        <img class="image-gallery"
                        src="https://cdn2.humanoids.com/assets/CatalogueArticle/1267/JodorowskyLibrary2_RoughCover_copy_17927_R600.jpg"
                        alt="Chronophage Cover">
                    </div>
                    <div class="new__flex">
                        <h3 class="new__title">Mar 08, 2022</h3>
                        <img class="image-gallery"
                        src="https://cdn2.humanoids.com/assets/CatalogueArticle/1268/9781643379210_17937_R600.jpg"
                        alt="Chronophage Cover">
                    </div>
                    <div class="new__flex">
                        <h3 class="new__title">Mar 15, 2022</h3>
                        <img class="image-gallery"
                        src="https://cdn2.humanoids.com/assets/CatalogueArticle/1269/AsphaltBlues_2021_RoughCover_copy_17923_R600.jpg"
                        alt="Chronophage Cover">
                    </div>
                    <div class="new__flex">
                        <h3 class="new__title">Mar 22, 2022</h3>
                        <img class="image-gallery"
                        src="https://cdn2.humanoids.com/assets/CatalogueArticle/1270/MAKHNO_2021_RoughCover_18155_R600.jpg"
                        alt="Chronophage Cover">
                    </div>
                    <div class="new__flex">
                        <h3 class="upcoming__title">Apr 26, 2022</h3>
                        <img class="image-gallery"
                        src="https://cdn2.humanoids.com/assets/CatalogueArticle/1251/9781643375496_17933_R600.jpg"
                        alt="Chronophage Cover">
                    </div>
                    <div class="new__flex">
                        <h3 class="upcoming__title">Apr 26, 2022</h3>
                        <img class="image-gallery"
                        src="https://cdn2.humanoids.com/assets/CatalogueArticle/1271/Thick_Skins_2021_RoughCover_copy_17929_R600.jpg"
                        alt="Chronophage Cover">
                    </div>
                    <div class="new__flex">
                        <h3 class="upcoming__title">May 10, 2022</h3>
                        <img class="image-gallery"
                        src="https://cdn2.humanoids.com/assets/CatalogueArticle/1172/OATES_cover_mockupgold_18436_R600.jpg"
                        alt="Chronophage Cover">
                    </div>
                    </div>
                    </div>
                </article>

        <article class="component">
            <h3 class="component__name">Email Subscription</h3>
            <div class="component__image">
                <img srcset="img/info-subscription.png 2x"
                    src="img/info-subscription.png"
                    alt="email subscription sign up">
                </div>
            <div class="component__code">
                <div class="container__black">
                <div class="info">
                <h2 class="info__title">Stay Tuned!</h2>
                <p class="info__tagline">Sign up here to get the latest news right into your inbox.</p>
                    <div class="email__flex">
                <form>
                <input type="email" name="email" placeholder="email" class="form__email" required=""> <i class="fa-solid fa-envelope"></i>
                </form>
                    <p class="button__subscribe"><a href="#!">Subscribe<i class="fa-solid fa-paper-plane"></i></a></p>
                </div>
                </div>
                </div>
            </div>
            </article>

        <article class="component">
            <h3 class="component__name">Most Read</h3>
            <div class="component__image">
                <img srcset="img/section__most-read.png 2x"
                    src="img/section__most-read.png"
                    alt="most read section">
                </div>
            <div class="component__code">
                <h2 class="section__header" id="read">Most Read
                    <a class="side-button" href="!#">More <i class="fa-solid fa-play"></i></a>
                </h2>
                <div class="most__grid">
                <div class="most__binder">
                <img class="image__most-read"
                src="https://cdn2.humanoids.com/assets/CatalogueWork/2/real-on-light_R900.jpg"
                alt="most read cover">
                <img class="image__most-read"
                src="https://cdn2.humanoids.com/assets/CatalogueWork/2/The-Incal-BG_R600.jpg"
                alt="most read cover">
                    </div>
                <div class="most__binder">
                <img class="image__most-read"
                src="https://cdn2.humanoids.com/assets/CatalogueWork/89/Metabarons-logo-dark_R900.jpg"
                alt="most read cover">
                <img class="image__most-read"
                src="https://cdn2.humanoids.com/assets/CatalogueWork/89/The-Metabarons-BG_R600.jpg"
                alt="most read cover">
                </div>
                <div class="most__binder">
                <img class="image__most-read"
                src="https://cdn2.humanoids.com/assets/CatalogueWork/278/White_background_17504_R900.jpg"
                alt="most read cover">
                <img class="image__most-read"
                src="https://cdn2.humanoids.com/assets/CatalogueWork/278/space_17505_R600.jpg"
                alt="most read cover">
                    </div>
                <div class="most__binder">
                <img class="image__most-read"
                src="https://cdn2.humanoids.com/assets/CatalogueWork/221/Urban_Legendz_on_Light_15733_R900.jpg"
                alt="most read cover">
                <img class="image__most-read"
                src="https://cdn2.humanoids.com/assets/CatalogueWork/221/UrbanLegendz2019_cover_15731_R600.jpg"
                alt="most read cover">
                    </div>
                <div class="most__binder">
                <img class="image__most-read"
                src="https://cdn2.humanoids.com/assets/CatalogueWork/201/Luisa_Now_and_Then_on_dark_11058_R400.jpg"
                alt="most read cover">
                <img class="image__most-read"
                src="https://cdn2.humanoids.com/assets/CatalogueWork/201/Luisa_Image_11056_R900.jpg"
                alt="most read cover">
                    </div>
                <div class="most__binder">
                <img class="image__most-read"
                src="https://cdn2.humanoids.com/assets/CatalogueWork/233/Twlight_Logo_16123_R900.jpg"
                alt="most read cover">
                <img class="image__most-read"
                src="https://cdn2.humanoids.com/assets/CatalogueWork/233/Twilight_image_16121_R600.jpg"
                alt="most read cover">
                </div>
                </div>
            </div>
            </article>

        <article class="component">
            <h3 class="component__name">News</h3>
            <div class="component__image">
                <img srcset="img/section__news.png 2x"
                    src="img/section__news.png"
                    alt="news section">
                </div>
            <div class="component__code">
                <h2 class="section__header">News
                    <a class="side-button" href="!#">More <i class="fa-solid fa-play"></i></a>
                </h2>

                <div class="news__grid">
                <div class="news__flex">
                <img class="image__news"
                src="https://cdn2.humanoids.com/assets/BlogPost/538/6226617b1390e_ToothMail_007_COV_manny_fix_18499_R600.jpg"
                alt="news image">
                <h3 class="news__title">SPACE BASTARDS, ME, AND YOU!</h3>
                <p class="news__body">SPACE BASTARDS VOLUME 2: THE COST OF DOING BUSINESS - In Stores 3/8!</p>
                <p class="button__details"><a href="#!">Details<i class="fa-solid fa-arrow-right"></i></a></p>
                </div>

                <div class="news__flex">
                    <img class="image__news"
                    src="https://cdn2.humanoids.com/assets/BlogPost/536/6184241761edc_post_humanoids_18303_R900.jpg"
                    alt="news image">
                    <h3 class="news__title">Taika Waititi to direct The 
                        Incal Movie </h3>
                    <p class="button__details"><a href="#!">Details<i class="fa-solid fa-arrow-right"></i></a></p>
                    </div>

                <div class="news__flex">
                    <img class="image__news"
                    src="https://cdn2.humanoids.com/assets/BlogPost/534/615f3f0064b85_SWINE_cover_FINAL_18203_R600.jpg"
                    alt="news image">
                    <h3 class="news__title">SWINE is The First Graphic Novel from Vetran TV Writer Tyrone Fince!</h3>
                    <p class="news__body">Hide your kids, hide your wives...because SWINE is out now! </p>
                    <p class="button__details"><a href="#!">Details<i class="fa-solid fa-arrow-right"></i></a></p>
                    </div>
                </div>
            </div>
            </article>

        <article class="component">
            <h3 class="component__name">Catalog</h3>
            <div class="component__image">
                <img srcset="img/catalog__button.png 2x"
                src="img/catalog__button.png"
                alt="catalog button">
                <img srcset="img/section__catalog.png 2x"
                    src="img/section__catalog.png"
                    alt="catalog">
                </div>
            <div class="component__code">
                <div class="catalog__button">
                <a href="#!"><i class="fa-brands fa-hotjar"></i></a>
                <h3 class="catalog__title">New</h3>
                </div>

                <div class="content__gray">
                    <h2 class="catalog__header">Browse the Catalog</h2>
                    <div class="catalog__button--long">
                    <div class="test">
                    <a href="#!"><i class="fa-brands fa-hotjar"></i></a>
                    <h3 class="catalog__title">New</h3>
                    </div>

                    <a href="#!"><i class="fa-solid fa-star"></i></a>
                    <h3 class="catalog__title">Popular</h3>

                    <a href="#!"><i class="fa-solid fa-book"></i></a>
                    <h3 class="catalog__title">Imprints</h3>

                    <a href="#!"><i class="fa-solid fa-image-portrait"></i></a>
                    <h3 class="catalog__title">Authors</h3>

                    <a href="#!"><i class="fa-solid fa-id-card"></i></a>
                    <h3 class="catalog__title">Genres</h3>

                    <a href="#!"><i class="fa-solid fa-calendar-day"></i></a>
                    <h3 class="catalog__title">Date</h3>

                    <a href="#!"><i class="fa-solid fa-arrow-down-a-z"></i></a>
                    <h3 class="catalog__title">Title</h3>

                    <a href="#!"><i class="fa-solid fa-magnifying-glass" id="catalog-glass"></i></a>
                    <h3 class="catalog__title">Search</h3>
                    </div>
                </div>
            </div>
            </article>

        <article class="component">
            <h3 class="component__name">Footer</h3>
            <div class="component__image">
                <img srcset="img/footer.png 2x"
                    src="img/footer.png"
                    alt="footer">
                </div>
        <div class="component__code">
            <div class="footer">
            <div class="footer__area">
            <h3 class="footer__title">Catalog</h3>
            <ul class="footer__list">
                <li class="footer__link"><a href="#!">New and Upcoming</a></li>
                <li class="footer__link"><a href="#!">Most Read</a></li>
                <li class="footer__link"><a href="#!">Imprints</a></li>
                <li class="footer__link"><a href="#!">Genres</a></li>
                <li class="footer__link"><a href="#!">Advanced Search</a></li>
                <li class="footer__link"><a href="#!">Timeline</a></li>
                <li class="footer__link"><a href="#!">All Titles</a></li>
            </ul>
            </div>
            <div class="footer__area">
                <h3 class="footer__title">News</h3>
                </div>
            <div class="footer__area">
                <h3 class="footer__title">Who we are</h3>
                <ul class="footer__list">
                    <li class="footer__link"><a href="#!">About Us</a></li>
                    <li class="footer__link"><a href="#!">Our Creators</a></li>
                </ul>
                </div>
                <div class="footer__area">
                    <h3 class="footer__title">Contact</h3>
                    <ul class="footer__list">
                        <li class="footer__link"><a href="#!">Contact Us</a></li>
                        <li class="footer__link"><a href="#!">Submissions</a></li>
                        <li class="footer__link"><a href="#!">Retailers</a></li>
                        <li class="footer__link"><a href="#!">Privacy Policy</a></li>
                        <li class="footer__link"><a href="#!">Jobs</a></li>
                        <li class="footer__link"><a href="#!">Sign In</a></li>
                    </ul>
                    </div>
            </div>
            </div>
            </article>

    </body>
</html>