<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <title>Humanoid | Components</title>
    </head>

    <body>
    <h1>Humanoids Case Study</h1>

        <h2>Typography Defaults</h2>

        <article class="component">
        <h3 class="component__name">Headers</h3>
        <div class="component__image">
            <img srcset="img/catalog__header.png 2x"
                src="img/catalog__header.png"
                alt="catalog header">
            </div>
        <div class="component__image">
            <img srcset="img/section__date.png 2x"
                src="img/section__date.png"
                alt="new section date">
            </div>
        <div class="component__code">
            Feb 15, 2022
        </div>
        </article>


    </body>
</html>